#overview_schadenskonten > tbody > tr:hover {
    cursor: pointer;
}
#select_schadenskonto {
    width: 200px;
    max-width: 200px;
}
.troopstrength {
    width: 30px;
}
#select_schadenskonto > option {
    padding: 7px;
}