#overview_schadenskonten > tbody > tr:hover {
    cursor: pointer;
}
#select_schadenskonto {
    width: 200px;
    max-width: 200px;
}
.troopstrength {
    width: 30px;
}
#select_schadenskonto > option {
    padding: 7px;
}
#select_schadenskonto > option.drophere {
    background-color: yellow;
}

.pois {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.pois > li {
    display: inline-block;
    margin: 3px;
    width: 100px;
    height: 100px;
    border: thin solid rgba(0,0,0,0.2);
    vertical-align: top;
    text-align: center;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
}